@import "./libs/normalize";



.wrapper {
    font-family: 'Inter', sans-serif;    
    padding: 60px 50px;
}


.header {
        margin-bottom: 29px;
        height: 115px;

        
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color:#000000;
        padding: 0; 
        margin-bottom: 21px ;
        
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color:#000000;
        width: 583px;
    }
}



.qwis {
    width: 868px;
    height: 425px;                   
    padding: 34px 35px;

    border-radius: 10px;
    background-color: #DDF3FF;


    &__indicator {
        height: 20px;
        display: flex ;
        margin-bottom: 12px;


        &-item {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #89D1F8;
            margin-right: 10px;

            &.active {
                background-color:  #00A5FF;
            }
            
        }
    }


    &__numberOfquestion {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        color: #9A9A9A;
        margin-bottom: 29px; 
    }

    &__question { 
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 23px;  
    }

    &__listOfquestions {
        height: 135.55px; //Высота конейтенера для вопросов
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        letter-spacing: 0em;
        height: 135px;
        margin-bottom: 32px;   

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none; 
            padding: 0;

        };
        
        label {
            display: flex;
            align-items:center;    
        }

        li { 
            margin-bottom: 11.2px;
            &:last-child {
                margin-bottom: 0; 
              }
        }

        input {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
    }

    &__container-button {
        display: flex;
    }

    &__container-button > :not(:last-child) {
        margin-right: 10px;
    }

}





.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 35px; 
  width: 100%; 

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}





.grid-item {
  width: 240px;
  height: 342px;
  background-color: #f1d6d6;
}

.centr {
  display: flex;
  justify-content: center ;
}

.item_image {
  width: 240px;
  height: 240px;
  border-radius: 20px;   //6.75px;
  border: 1px;
  border-color: #1e0202;
  margin-bottom: 15px;
}


.fit-image {
  border: 1px solid #E9E9E9;
  border-radius: 6.75px;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center center; 
  }


.item_title {
  word-break:break-all;
  padding-left: 1px;
  height: 46px;
  font-family: Inter;
  font-size: 17.9px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  overflow-wrap: break-word;
}

.item_price {
  font-family: Inter;
  font-size: 27px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}



